<div class="container">
  <!-- sort bar -->
  <div class="sort text-center">
    <form action="/sort" method="GET">
      <select name="sort" id="sort" onchange="this.form.submit()" class="form-select-lg m-3">
        <option value="6">全部類別</option>
        <option value="1" {{#if (eq categoryId 1)}} selected {{/if}} >家居物業</option>
        <option value="2" {{#if (eq categoryId 2)}} selected {{/if}}>交通出行</option>
        <option value="3" {{#if (eq categoryId 3)}} selected {{/if}}>休閒娛樂</option>
        <option value="4" {{#if (eq categoryId 4)}} selected {{/if}}>餐飲食品</option>
        <option value="5" {{#if (eq categoryId 5)}} selected {{/if}}>其他</option>
      </select>
    </form>
  </div>
  <!-- total amount -->
  <div class="total-amount text-center">
    <div class="total-amount-title">總金額:</div>
    <div class="total-amount-cost">{{ totalAmount }}</div>
  </div>
  <!-- expense list -->
  <div class="items m-3">
    <ul>
      {{#each expenses}}
      <li class="item">
        <div class="item-info">
          {{#if (eq this.categoryId 1)}}
            <i class="fa-solid fa-house fa-2x item-icon"></i>
          {{/if}}
          {{#if (eq this.categoryId 2)}}
            <i class="fa-solid fa-van-shuttle fa-2x item-icon"></i>
          {{/if}}
          {{#if (eq this.categoryId 3)}}
            <i class="fa-solid fa-face-grin-beam fa-2x item-icon"></i>
          {{/if}}
          {{#if (eq this.categoryId 4)}}
            <i class="fa-solid fa-utensils fa-2x item-icon"></i>
          {{/if}}
          {{#if (eq this.categoryId 5)}}
            <i class="fa-solid fa-pen fa-2x item-icon"></i>
          {{/if}}
          <div class="item-detail mx-2">
            <div class="item-title">{{ this.name }}</div>
            <div class="item-date">{{ this.date }}</div>
          </div>
          <div class="item-cost">{{ this.cost }}</div>
        </div>
        <div class="item-btn-group">
          <div>
            <a href="/expenses/{{ this._id }}/edit"  class="btn btn-outline-info">修改</a>
          </div>
          <div class="item-btn">
            <form action="/expenses/{{ this._id }}/?_method=DELETE" method="POST">
              <button type="submit" class="btn btn-outline-danger mx-2">刪除</button>
            </form>
          </div>
          
        </div>
      </li>
      {{/each}}
    </ul>
  </div>
  <!-- create -->
  <div class="text-center">
      <a href="/expenses/new" class="btn btn-outline-primary create-expense">新增支出</a>
  </div>
</div>

{{!-- CATEGORY = {
  家居物業: "https://fontawesome.com/icons/home?style=solid",
  交通出行: "https://fontawesome.com/icons/shuttle-van?style=solid",
  休閒娛樂: "https://fontawesome.com/icons/grin-beam?style=solid",
  餐飲食品: "https://fontawesome.com/icons/utensils?style=solid",
  其他: "https://fontawesome.com/icons/pen?style=solid"
} --}}