<div class="container w-75">
  <h1 class="text-center m-3">Login</h1>
  <div class="form-group m-3">
    {{> message}}
    <form action="/users/login" method="POST">
      <div class="row mb-4">
        <label for="email" class="col-4 col-form-label">信箱</label>
        <div class="col-8">
          <input type="email" class="form-control" id="email" name="email">
        </div>
      </div>
      <div class="row mb-4">
        <label for="password" class="col-4 col-form-label">密碼</label>
        <div class="col-8">
          <input type="password" class="form-control" id="password" name="password">
        </div>
      </div>
      <div class="options">
        <div>
          <button type="submit" class="btn btn-primary">登入</button>
          <a href="/auth/facebook/callback" class="btn btn-primary mx-2"><i class="fa-brands fa-facebook"></i></a>
        </div>
        <a href="/users/signup" class="btn btn-info">註冊帳號</a>
      </div>
    </form>
    <div class="my-5 border border-secondary border-2 p-2">
      <p>可自行註冊帳號, 或使用以下帳號登入使用</p>
      <p>帳號: test1@123</p>
      <p>密碼: test</p>
      <span class="text-decoration-line-through">註記: 若佈署網域非localhost 或是 https 則無法訪問facebook登入</span>
      <span><strong>已改為https</strong></span>
    </div>
  </div>
</div>