<div class="container">
  <div class="my-3">
    {{> message}}
  </div>
  <form action="/expenses" method="POST" class="new-wrapper">
    <div class="grid-1">*必填欄位</div>
    <div class="grid-2">請輸入你的支出</div>
    <div class="grid-3">名稱*</div>
    <div class="grid-4">
      <input type="text" name="name"  value="{{ name }}">
    </div>
    <div class="grid-5">日期*</div>
    <div class="grid-6">
      <input type="date" name="date"  value="{{ date }}">
    </div>
    <div class="grid-7">類別*</div>
    <div class="grid-8">
      <select name="categoryId" id="categoryId" >
        <option value="1" {{#if (eq categoryId 1)}} selected {{/if}}>家居物業</option>
        <option value="2" {{#if (eq categoryId 2)}} selected {{/if}}>交通出行</option>
        <option value="3" {{#if (eq categoryId 3)}} selected {{/if}}>休閒娛樂</option>
        <option value="4" {{#if (eq categoryId 4)}} selected {{/if}}>餐飲食品</option>
        <option value="5" {{#if (eq categoryId 5)}} selected {{/if}}>其他</option>
      </select>
    </div>
    <div class="grid-9">金額</div>
    <div class="grid-10">
      <input type="number" name="cost"  value="{{ cost }}">
    </div>
    <div class="grid-11"> </div>
    <div class="grid-12">
      <button type="submit" class="btn btn-primary">新增支出</button>
      <a href="/" class="btn btn-danger mx-2">返回</a>
    </div>
  </form>
</div>