<div class="container w-75">
  <h1 class="text-center m-3">Signup</h1>
  <div class="form-group m-3">
    <form action="/users/signup" method="POST">
      <div class="row mb-4">
        <label for="name" class="col-4 col-form-label">名稱</label>
        <div class="col-8">
          <input type="text" class="form-control" id="name" name="name" value="" required>
        </div>
      </div>
      <div class="row mb-4">
        <label for="email" class="col-4 col-form-label">信箱</label>
        <div class="col-8">
          <input type="email" class="form-control" id="email" name="email" required>
        </div>
      </div>
      <div class="row mb-4">
        <label for="password" class="col-4 col-form-label">密碼</label>
        <div class="col-8">
          <input type="password" class="form-control" id="password" name="password" required>
        </div>
      </div>
      <div class="row mb-4 d-flex align-items-center">
        <label for="confirmPassword" class="col-4 col-form-label">確認<br>密碼</label>
        <div class="col-8">
          <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" required>
        </div>
      </div>
      <div class="options">
        <div class="d-flex">
          <button type="submit" class="btn btn-primary">註冊</button>
          <a href="/auth/facebook/callback" class="btn btn-primary mx-2"><i class="fa-brands fa-facebook"></i></a>
        </div>
        <a href="/users/login" class="btn btn-info mx-5">已有帳號</a>
      </div>
    </form>
  </div>
</div>