/* layouts_main */
.navbar-brand {
  font-weight: 600;
}

/* index & edit*/
.sort select {
  text-align: center;
  width: 20rem;
}
.total-amount {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.total-amount-title {
  width: 20%;
  font-size: 1.5rem;
  font-weight: 600;
  margin-right: 1rem;
}
.total-amount-cost {
  width: 30%;
  font-size: 4rem;
  color: salmon;
}
.item {
  display:flex;
  justify-content:space-around;
  width: 40rem;
  margin: 0;
}
.item-icon {
  width: 3rem;
  align-self: center;
}
.item-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.item-detail {
  width: 12rem;
}
.item-cost {
  width: 6rem;
  text-align: right;
  align-self: center;
  font-size: 1.2rem;
  color: salmon;
}
.item-btn-group {
  display: flex;
  justify-content: center;
  align-items: center;

}
.create-expense {
  background-color: salmon;
  color: lightgray;
}

/* new */
.new-wrapper {
  margin-top: 2rem;
  display:  grid;
  grid-template-columns: 10rem, 20rem;
  grid-template-rows: repeat(6, 4re);
  grid-template-areas:
  "item1 item2"
  "item3 item4"
  "item5 item6"
  "item7 item8"
  "item9 item10"
  "item11 item12";
  grid-gap: 1rem;
  text-align: center;
}
.grid-2 {
  grid-area: item2;
  font-size: 1.5rem;
}
.grid-1,
.grid-3,
.grid-5,
.grid-7,
.grid-9,
.grid-11 {
  text-align: end;
}
.grid-2,
.grid-4,
.grid-6,
.grid-8,
.grid-10,
.grid-12 {
  text-align: start;
}

/* login */
.options {
  width: 20rem;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
